@import 'tailwindcss';

:root {
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hrv-color-text: #0f2d32;
  --hrv-color-primary: #262626;
  --hrv-color-primary-light: #4b5563;
  --hrv-color-secondary: #16a34a;
  --hrv-color-accent: #64748b;
  --hrv-color-info: #6b7280;
  --hrv-color-link: #f3f4f6;
  --hrv-color-page: rgb(255 255 255);
  --hrv-color-muted: rgb(16 16 16 / 66%);

  background-color: var(--hrv-color-page);
  color: var(--hrv-color-text);

  ::selection {
    background-color: var(--hrv-color-secondary);
    color: var(--hrv-color-page);
  }
}

@theme {
  --default-font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --btn-size-default: 16px;
  --btn-padding-default: 15px 40px;
  --btn-size-sm: 12px;
  --btn-padding-sm: 15px 20px;
  --btn-size-lg: 20px;
  --btn-padding-lg: 20px 60px;

  --color-primary: var(--hrv-color-primary);
  --color-primary-light: var(--hrv-color-primary-light);
  --color-secondary: var(--hrv-color-secondary);
  --color-accent: var(--hrv-color-accent);
  --color-info: var(--hrv-color-info);
  --color-link: var(--hrv-color-link);
  --color-page: var(--hrv-color-page);
  --color-muted: var(--hrv-color-muted);
}

@layer components {
  .card {
    background-color: var(--color-gray-300);
    border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl);
  }

  .btn {
    display: inline-flex;
    color: var(--hrv-color-link);
    background-color: var(--hrv-color-primary);
    font-weight: 400;
    font-family: var(--default-font-family);
    font-size: 16px;
    line-height: 0.5;
    border-radius: 15px;
    padding: 15px 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    outline: none;
    border: none;
    transition: all 0.2s ease-out;
  }
}
@utility bg-* {
  background-color: --value(--color-*);
}
@utility text-* {
  color: --value(--color-*);
}
@utility btn-* {
  font-size: --value(--btn-size-*);
  padding: --value(--btn-padding-*);
}

@custom-variant dark (&:where(.dark, .dark *));

/* Card background changes on dark mode */
.dark {
  --hrv-color-text: rgba(255, 255, 255, 0.87);
  --hrv-color-page: rgb(3 6 32);
  --hrv-color-muted: rgb(229 236 246 / 80%);

  .card {
    background-color: var(--color-gray-700);
  }

  ::selection {
    background-color: var(--color-secondary);
    color: var(--color-page);
  }
}
